body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .matrix-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    background-color: #000;
  }
  
  #matrix-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #0F0;
    font-family: monospace;
    font-size: 0.8em;
    white-space: pre;
    line-height: 1;
    z-index: -1;
    background-color: #000;
  }
  
  .green {
    color: #0F0;
  }
  
  .red {
    color: #F00;
  }
  
  .yellow {
    color: #FF0;
  }
  